@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background: #0d0d0d;
  --surface: #282e3a;
  --text: #e0e0e0;
  --accent1: #00ff7f;
  --accent2: #9146ff;
  --alert: #ff4500;
  --reward: #ffd700;
  --fontHeading: 'Audiowide', sans-serif;
  --fontBody: 'Poppins', sans-serif;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: var(--fontBody);

  display: flex;
  flex-direction: column;

  margin: 0;
}

main {
  padding: 1rem;
}

.surface-box {
  background-color: var(--surface);
  border-radius: 1rem;
  padding: 1rem;
}

h1,
h2,
h3,
h4 {
  color: var(--accent1);
  font-family: var(--fontHeading);
  text-align: center;
}

a,
a:visited {
  color: var(--accent2);
}

button {
  background-color: var(--accent2);
  font-family: var(--fontBody);
  border: 0;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  color: var(--text);
  font-weight: bold;
  font-size: 1rem;
}

header {
  background-color: var(--surface);
  padding: .25rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

header img {
  grid-column: 1;
}

header button {
  grid-column: 3;
  justify-self: right;
  font-size: 2rem;
  z-index: 1;
  background-color: transparent;
}

nav {
  position: absolute;
  top: 0;

  background-color: var(--accent2);

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;

  width: 100vw;
  height: 100vh;
}

nav.hidden {
  display: none;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: var(--text);
  padding: 1rem 0;
  font-size: 1.5rem;
}

footer {
  background-color: var(--text);
  color: var(--background);
  text-align: center;
  line-height: 3rem;
  margin-top: 2rem;
}

body.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100vw;
}