body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

main > *:not(img) {
  margin: 1rem 2rem;
}

main img {
  width: 100%;
  height: auto;
}

main > div {
  align-self: flex-end;
}

main > p {
  align-self: normal;
}

dl {
  align-self: normal;
}

dl > div {
  display: flex;
  gap: 0.5rem;
}

dd {
  margin: 0;
  font-weight: bold;
  overflow-wrap: anywhere;
}
